* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 999px){
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] { /* selektuj sve klase koje sadrze col-*/ /* UVEK DODAJEMO*/
    float: left;
}
.row {
    width: 100%;
    overflow: hidden;
}

.left,
.right {
    background-color: #280071;

}
.right {
    text-align: right;
}

body > div > nav > div.col-2.left > a > span {
    font-weight: 900;
}

.center {
    background-color: #1E2128;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.right {
    float: right;
}


.right span {
    color: white;
}

a:hover {
    background-color: red;
}

ul li {
    list-style: none;
    float: left;
    /* padding: 10px; */
    font-size: 15px;
}

.rightList li {
    float: right;
    margin-right: 20px;
}

body > div > nav > div.col-2.left > ul > li a,
body > div > nav > div.col-5.center > ul > li a,
body > div > nav > div.col-5.right > ul > li a {
    display: block;
    padding: 11px;

}





