* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

div.container {
    width: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
}

span {
    color: red;
}

h3 {
    color: blue;
}

p {
    overflow: scroll;
    height: 150px;
}